/*------------------------------------*\

  Global css 
  
  This is a styled boilerplate which 
  should help you build a css "theme".

  Feel free to edit, remove or add 
  anything here!

  Nested selectors, rucksack shortcuts 
  and cssnext are enabled, go wild!

\*------------------------------------*/



/* === Global variables === */
:root {
	--text-color: #525f7f;
	--emphasis-text-color: #60729e;
	--background-color: #121212;
	--alt-background-color: #323232;
  --accent-color: #6C63FF;
  --alt-accent-color: #4641FF;
  --border-color: #383838;

  --success-color: #06d19c;
  --danger-color: tomato;
}



/* === Default cascade === */
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: responsive 14px 18px;
  font-range: 420px 1280px;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}


/* === Default styles === */

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.35;
  color: var(--emphasis-text-color);
  font-weight: 400;
}

h5, h6 {
  margin: 1.414em 0 0.5em;
  line-height: 1.4;
  color: inherit;
  font-weight: 400;
}

h1 {
  font-size: 2.074em;
  margin-top: 0;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

small, h6 {
  font-size: 0.833em;
  margin: 0.25em 0;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-color);
}

button {
  display: inline-block;
  padding: 6pt 20pt;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.7;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none; 
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 0;
  }
  &:disabled {
    opacity: 0.25;
    cursor: default;
    pointer-events: none;
  }
}

img {
  max-width: 100%;
}

svg {
  fill: none;
  max-width: 100%;
}



/*------------------------------------*\
    Root view styling
\*------------------------------------*/

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  main {
    padding: 0;
    aside {
      position: absolute 0 auto 0 0;
      width: 100%;
      max-width: 20rem;
      background-color: var(--alt-background-color);
      padding: 1rem;
      transform: translateX(-100%);
      transition: transform 300ms cubic-bezier(0.16, 1, 0.16, 1);
    }
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 3rem;
      position: absolute 0;
      z-index: -1;      
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }


  > .prev {
    position: absolute 50% auto auto 0;
  }
  > .next {
    position: absolute 50% 0 auto auto;
  }


  &.sidebar-opened {
    > .prev {
      left: 20rem;
    }
    main {
      figure {
        left: 20rem;
      }
      aside {
        transform: translateX(0)
      }
    }
  }
}


